.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("../../images/bg3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: max-content;
  font-family: "PlayfairDisplay";
}
